body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fb;
}

/* Sidebar */
.sidebar {
    height: 100vh;
    background: linear-gradient(180deg, #e6f0ff, #f8fbff);
    padding: 25px;
    border-right: 1px solid #e2e8f0;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: #4a5a75;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
    transition: 0.3s;
    font-weight: 500;
}

.sidebar {
    height: 100vh;
    background: linear-gradient(180deg, #e6f0ff, #f8fbff);
    padding: 25px;
    border-right: 1px solid #e2e8f0;
    position: fixed;
    width: 16.6667%; /* نفس col-md-2 */
}
.col-md-10 {
    margin-left: 16.6667%;
}
.card-soft {
    background: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}
/* ===== TABLE STYLE FINAL ===== */

table {
    border-collapse: collapse !important;
}

table th,
table td {
    border: 1px solid #dee2e6 !important;
}
.card-soft {
    background: white;
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

h3 {
    color: #1f3c88;
}

.table thead {
    background-color: #f3f6fb;
}

.table th {
    font-weight: 600;
}
.btn-primary {
    border-radius: 8px;
    padding: 5px 12px;
    font-size: 14px;
}

.btn-secondary {
    border-radius: 8px;
    font-size: 14px;
}
.dashboard-card {
    transition: all 0.3s ease;
}

.dashboard-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
.low-stock {
    background-color: #fff3cd !important;
}
.low-stock {
    background-color: #fff3cd !important;
}
.sidebar.collapsed {
    width: 70px !important;
}

.sidebar.collapsed a {
    text-align: center;
    font-size: 0;
}

.sidebar.collapsed a i {
    font-size: 18px;
}

.sidebar.collapsed h4 {
    display: none;
}
/* Smooth Page Animation */
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.dashboard-card {
    border-radius: 15px;
    transition: 0.3s;
    border: none;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.dashboard-icon {
    font-size: 35px;
    margin-bottom: 15px;
    color: #42a5f5;
}