{% extends 'pharmacy/base.html' %}

{% block content %}

<h1>Transaction History</h1>

<table>
    <tr>
        <th>Medicine</th>
        <th>Quantity</th>
        <th>Pharmacist</th>
        <th>Date</th>
        <th>Hash</th>
    </tr>

    {% for t in transactions %}
    <tr>
        <td>{{ t.medicine.name }}</td>
        <td>{{ t.quantity }}</td>
        <td>{{ t.pharmacist }}</td>
        <td>{{ t.timestamp }}</td>
        <td style="font-size:10px;">{{ t.hash }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}